/* Alapértelmezett stílusok a body elemhez */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #000; /* Háttér szín fekete */
    color: #fff; /* Szöveg szín fehér */
    overflow: hidden; /* a csíkok a teljes háttérben mozognak */
    animation: backgroundAnimation 30s linear infinite alternate;
}




/* Opcionálisan: konténer stílusa */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* O

/* Modal háttér */
.modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fekete átlátszó háttér */
    z-index: 999; /* Legfelső réteg */
}

/* Modal tartalom */
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #111; /* Nagyon sötét háttér a modal tartalomhoz */
    padding: 20px;
    border: 2px solid #444; /* Szürke keret */
    border-radius: 5px;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto; /* Görgetősáv, ha a tartalom nagyobb, mint a modal ablak */
    color: #fff; /* Szöveg szín fehér */
}

/* Távolság a főcímek között */
section h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    cursor: pointer;
    text-align: center;
    position: relative; /* Adjuk hozzá a pozíciót a relative */
    transition: color 0.3s;
}


section h2::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10%; /* A szegély szélessége */
    height: 1px; /* A szegély vastagsága */
    background-color: #444; /* Szürke szegély színe */
}





/* Alcím hover efektus */
section h2:hover {
    color: #ff0000; /* Piros szín az egér fölé húzva */
}

/* Szekciók alapértelmezett rejtése */
section p {
    display: none;
}

/* Fejléc középre igazítása */
header {
    text-align: center;
    padding: 20px 0;
}

/* Fejléc címe */
header h1 {
    margin: 0;
}

/* Alsó margó a fejléc után */
main {
    margin-top: 20px;
}

/* Footer stílus */
footer {
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer a {
        color: #0080ff; /* Világoskék szín */
        text-decoration: none; /* Link aláhúzás eltávolítása */
 
}

/* Footer szöveg */
footer p {
    margin: 0;
}

/* CSS a nyelvváltó pozícionálásához */
#language-selector {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #000;
    padding: 10px;
    border-radius: 5px;
}

#language-selector select {
    width: 70px; /* A választó szélessége */
    background-color: #000; /* Választó háttérszíne */
    color: #fff; /* Szövegszín */
    border: none; /* Határvonal eltávolítása */
    font-size: 16px; /* Betűméret */
    padding: 5px; /* Belső tér */
    border-radius: 3px; /* Kerekített sarok */
}

#language-selector select:hover {
    cursor: pointer; /* Mutató mutatása */
}

